<div class="col-md-3 col-sm-6 text-center">
  <a href="{{ product.url }}">
    <img src="{{ product.featured_image | img_url: '200*200', scale: 2, crop: 'center' }}" alt="{{ product.title | escape }}" class="img-fluid">    
  </a>
  <h6 class="mt-2">{{ product.title | escape }}</h6>
  <p class="text-muted">{{ product.price | money }}</p>
</div>